body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MiApp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.MiSideBar{
width: 15%;
}
.MiTopBar{
  width: 100%;
}
.MiContentWrapper{
  width: 100%;
}
.MiDivTC{
  width: 85%;
}